h1 {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Margarine;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

div {
  width: 382px;
  height: 529px;
  border-radius: 34px;
  border: 8px solid #773711;
  background: #7d6f6f;
  box-shadow: 15px 19px 5.5px 3px rgba(0, 0, 0, 0.25);
}

img {
  margin-left: 100px;
  width: 160px;
}

ul {
  width: 114px;
  height: 135px;
  flex-shrink: 0;
  color: #fff;
  font-family: Margarine;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
}
